.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    background: #3525e6;
    color: #f0f4f8;
    cursor: pointer;
    font-size: 1.5rem;
}

.btn--cta {
    background: #35bd93;
    padding: 2rem 4rem;
}

.btn--outlined {
    background: none;
    border: 1px solid grey;
    color: #102A43;
}